@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pattaya&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100, 'YTLC' 500;
}

.nav-title,
.title {
    font-family: 'Alumni Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
.footer-title {
    font-family: 'Alumni Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

nav {
    width: calc(100% - 24px);
}

.landing {
    background: linear-gradient(
        165deg,
        #f2bcca 0%,
        #eda6b9 25%,
        #d3f6d7 50%,
        #90e99c 75%,
        #90e99c 100%
    );

    @media screen and (min-width: 866px) {
        background: linear-gradient(
            175deg,
            #f2bcca 0%,
            #eda6b9 25%,
            #d3f6d7 50%,
            #90e99c 75%,
            #90e99c 100%
        );
    }

    @media screen and (min-width: 1233px) {
        background: linear-gradient(
            168deg,
            #f2bcca 0%,
            #eda6b9 25%,
            #d3f6d7 50%,
            #90e99c 75%,
            #90e99c 100%
        );
    }
}

.see-more__wrap p {
    font-weight: 700;
}

.our-products .promotion-rectangle {
    font-weight: 800;
}

.valeurs-avis {
    background: linear-gradient(
        180deg,
        #90e99c 0%,
        #bcf2c3 15%,
        #edb5a6 35%,
        #db6b4d 100%
    );
}

.products-list {
    background: linear-gradient(
        -135deg,
        #bfe990 0%,
        #fbe9ed 35%,
        #f6d3dc 85%,
        #bcf2c3 100%
    );
}

.bold {
    font-weight: bold;
}
